#root {
    font-family: "Inter", sans-serif !important;
}
html {
    background-color: rgb(33, 36, 41) !important;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
}

.app_wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: rgb(33, 36, 41);
    z-index: -500 !important;
    height: 500px;
}
