.c-red {
    color: #cf6679 !important;
}

.bc-red {
    background-color: #cf6679 !important;
}

.c-purple {
    color: #bb86fc !important;
}

.c-white {
    color: #fff;
}

.c-darkpurple {
    color: #331b31 !important;
}
.c-blue {
    color: #3700b3;
}

.c-tile {
    color: #03dac5;
}
.c-inherit {
    color: inherit;
}
.c-black2 {
    background-color: rgb(33, 36, 41) !important;
}

.c-blueBtn {
    color: rgb(80, 144, 234) !important;
}

.bc-lightBlue {
    background-color: rgb(80, 144, 234) !important;
}
