.offscreen {
    position: absolute;
    left: -9999px;
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 25px;
    text-indent: 5px;
    margin: 4px 5px;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgba(21, 61, 111, 0.44);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}
